<h1>Dashboard</h1>
<br>
<h2>The amount of total sales for a given day: <b><%=number_to_currency( @totaldaysales, precision: 2) %></b></h2>
<h2>Average order amount: <b><%= number_to_currency(@averareorders, precision: 2) %></b></h2>
